<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" name="ReloadChildren" clientResourceRelativePath="" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="AddOn.ReloadChildren" />
  </assemblies>
  <dojo>
    <paths>
      <add name="reload-children" path="ClientResources" />
    </paths>
  </dojo>
  <clientModule initializer="reload-children/Initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>
